/* Common */

*,
*:after,
*:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html,
body {
        padding: 0;
        margin: 0;
}
html {
        font-size: 76%;
}
body {
        background-color: #fff;
        color: #333;
        font-size: 1em;
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
}
section {
        overflow: hidden;
        padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
        font-weight: 200;
        line-height: 1.1;
}
h1,
h2,
h3 {
        margin-top: 20px;
        margin-bottom: 10px;
}
h1 {
        font-size: 3.6em;
}
h2 {
        font-size: 2.5em;
}
h3 {
        font-size: 2em;
}
a {
        color: inherit;
        text-decoration: underline;
}
.larger-container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
}
.container {
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;
}
.emptycontainer {
        padding-top: 400px;
}
.videocontainer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        background-color: #000000;
}
.grid {
        min-width: 0;
}
.lead {
        margin-bottom: 20px;
        font-size: 1.5em;
        font-weight: 200;
        line-height: 1.4;
}
.row {
        position: absolute;
        bottom: 0px;
        left: 50%;
}
.inner {
        padding-bottom: 60px;
        position: relative;
        left: -50%;
}
.no-top-margin {
        margin-top: 0;
}
.no-bottom-margin {
        margin-bottom: 0;
}
/* Intro */

#intro {
        text-align: center;
        padding: 0;
}
#intro-start {
        background-color: #000000;
        color: #fff;
        padding: 20px;
        position: relative;
        overflow: hidden;
        height: 80vh;
}
#intro-start {
        background: url('../img/3.jpg') no-repeat center top;
        background-size: cover;
}
#intro h1 {
        margin-top: 0;
        text-align: center;
        word-wrap: break-word;
        /*font-family: 'VT323', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}
#team-members {
        padding-top: 25px;
}
.team-member {
        display: block;
        margin: 0 auto 25px;
        width: 150px;
        height: 150px;
        line-height: 150px;
        color: #fff;
        font-size: 1.7em;
        text-align: center;
        text-decoration: none;
}
.team-member[data-member='GU'] {
        background-color: #303030;
        color:#e1a3ee;
}
.team-member[data-member='CEC'] {
        background-color: #303030;
}
.team-member[data-member='SV'] {
        background-color: #303030;
}
.team-member[data-member='HS'] {
        background-color: #303030;
}

/*team*/

#team {
        background: #f5f5f5;
        color: #000000;
}

/* Time */

#time {
        background: #f39c12;
        background-size: cover;
        color: #fff;
}
#time img {
        float: right;
        width: 110px;
        margin-left: 10px;
        margin-bottom: 10px;
}
/* Contact */

#nav {
        padding: 20px;
        background-color: #8D93A0;
        color: #fff;
        z-index: 1;
        opacity: 0.8;
}
#nav p {
        margin: 0 0 10px;
}
#nav .grid {
        padding-left: 0;
        padding-right: 0;
}
/*video  */

#video {
        background: #000000;
        color: #fff;
}
.videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */

        padding-top: 25px;
        height: 0px;
}
.videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}
#nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
}
#intro-start {
        padding-top: 126px;
}
/* Media Queries */

@media all and (min-width: 767px) {
        /* Common */

        html {
                font-size: 100%;
        }
        /*section {*/
        /*padding: 50px;*/
        /*}*/
        /* Intro */

        #intro-start {
                padding: 70px;
        }
        .team-member {
                width: 240px;
                height: 240px;
                line-height: 240px;
                font-size: 1.85em;
        }
}
